.intro-container {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /*background-image: url("./../../../assets/header.jpg");*/
  /*background: center  no-repeat url("./../../../assets/header.jpg");*/
  /*background: center / contain no-repeat url("./../../../assets/header.jpg")*/
  /*#010134 105%;*/
  height: 35vh;
  padding: 20px;
}

.intro-h2 {
  margin: 0;
}

.intro-p {
  max-width: 85vw;
}

@media screen and (min-width: 699px) {


  .intro-container {
    justify-content: start;
    align-items: flex-start;
    text-align: left;
    padding: 10%;
    height: 25vh;
  }

  .intro-p {
    max-width: 450px;
  }
}

@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -10000px 5000px;
  }
}

@-webkit-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -10000px 5000px;
  }
}

@-moz-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -10000px 5000px;
  }
}

@-ms-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -10000px 5000px;
  }
}

@keyframes move-clouds-back {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 10000px 0;
  }
}

@-webkit-keyframes move-clouds-back {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 10000px 0;
  }
}

@-moz-keyframes move-clouds-back {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 10000px 0;
  }
}

@-ms-keyframes move-clouds-back {
  from {
    background-position: 0;
  }

  to {
    background-position: 10000px 0;
  }
}

.stars, .twinkling, .clouds, .luna {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.stars {
  background: #110A4E url('./img/stars.png') repeat top center;
  z-index: 0;
}

.luna {
  transform: scale(0.7);
  background: url('./img/luna.png') no-repeat top center;
  z-index: 2;
}

.twinkling {
  background: transparent url('./img/twinkling.png') repeat top center;
  z-index: 1;
  -moz-animation: move-twink-back 200s linear infinite;
  -ms-animation: move-twink-back 200s linear infinite;
  -o-animation: move-twink-back 200s linear infinite;
  -webkit-animation: move-twink-back 200s linear infinite;
  animation: move-twink-back 200s linear infinite;
}

.clouds {
  background: transparent url("./img/clouds.png") repeat top center;
  z-index: 3;
  -moz-animation: move-clouds-back 200s linear infinite;
  -ms-animation: move-clouds-back 200s linear infinite;
  -o-animation: move-clouds-back 200s linear infinite;
  -webkit-animation: move-clouds-back 200s linear infinite;
  animation: move-clouds-back 200s linear infinite;
}

.logo {
  margin: 0 auto;
  height: 100%;
  margin-top: 60px;
  font-size: 120px;
  color: #f7dc8a;
  z-index: 5;
  font-family: 'Nickainley', sans-serif;
  font-weight: normal;
  text-align: center;
  margin-bottom: 0;
  text-align: center;

  background: linear-gradient(to right, #bea258 20%, #eed375 40%, #cfb66b 60%, #ba9a39 80%);
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 1s linear infinite;
}

@keyframes shine {
  to {
    background-position: 200% center;
  }
}

@keyframes background {
  0% {
    color: #e5d098;
  }
  50% {
    color: #836c2f;
  }
  100% {
    color: #d6b03d;
  }
}

@media screen and (max-width: 400px) {

  .logo {
    position: absolute;
    margin-top: 350px;
  }
}

@font-face {
  font-family: "Nickainley";
  src: url("//db.onlinewebfonts.com/t/c29eeac74621043ccc6ced82768e9e22.eot");
  src: url("//db.onlinewebfonts.com/t/c29eeac74621043ccc6ced82768e9e22.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/c29eeac74621043ccc6ced82768e9e22.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/c29eeac74621043ccc6ced82768e9e22.woff") format("woff"), url("//db.onlinewebfonts.com/t/c29eeac74621043ccc6ced82768e9e22.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/c29eeac74621043ccc6ced82768e9e22.svg#Nickainley") format("svg");
}